<div
  data-section-type="featured-products"
  data-section-id="{{ section.id }}"
>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Products",
    "tag": "section",
    "presets": [
      {
        "name": "Featured Products"
      }
    ]
  }
{% endschema %}
