@import "tailwindcss/base";

@layer base {
  :where(h1,.h1,h2,.h2,h3,.h3){
    color: var(--heading-color);
    @apply font-normal leading-normal tracking-normal uppercase font-adorn-condensed-sans
  }

  :where(h1,.h1,h2,.h2,h3,.h3) em{
    font-style: normal;
  }

  .h2{
    font-size: 42px;
  }

  .h3{
    font-size: 30px;
  }

  .square-image{
    @apply relative pb-[100%]
  }

  .square-image img{
    @apply absolute left-0 top-0 w-full h-full object-cover
  }

  .button{
    @apply rounded-sm py-2 px-3 text-sm font-medium relative;
    background-color: var(--button-background-color);
    border: 2px solid var(--button-border-color);
  }

  @media screen and (min-width: 768px) {
    .h2{
      font-size: 66px;
    }

    .button-wrapper--animated{
      border-radius: 4px;
      background: var(--button-border-color);

      .button{
        transform: translate(0, 0);
        transition: transform .5s;
      }

      &:hover .button{
        transform: translate(-5px, -5px);
      }
    }
  }

  @media screen and (max-width: 767px) {
    :where(h1,.h1,h2,.h2,h3,.h3) em{
      font-style: normal;
      text-shadow: 3px 1px var(--heading-color);
      color: var(--heading-highlighted-color);
    }
  }
}

@import "tailwindcss/components";
@layer components {
  @import "@/css/snippets/site-logo.scss";
  @import "@/css/sections/header.scss";
  @import "@/css/sections/featured-products.scss";
}

@import "tailwindcss/utilities";
@layer utilities {
}

:root{
  --heading-color: #242323;
  --heading-highlighted-color: #fff;

  --card-border-color: #FDE0DC;
  --card-background-color: #FDF5F4;

  --button-background-color: #FFD11F;
  --button-border-color: #242323;
}
